.DS_Store
.bundle
db/*.sqlite3
log/*.log
vendor/cache
.sass-cache/
public/photos/*
public/photo/*
public/uploads/*
db/schema.rb
public/assets
*.orig
tmp/cache
tmp/pids
*.swp
db/sphinx
# For Sphinx
config/development.sphinx.conf
log/*.pid
*.pid
tmp/
dump.rdb
config/database.yml
varnishd.*.cache
config/varnish.vcl
db/structure.sql
.powrc
public/sitemap*
